
.login{
    display: flex;
    box-shadow: 1px 2px 9px  black;
    width: 93.3vw;
    margin-left: 30px;
    margin-top: 20px;
   
}
.loginform_container{
  
    display: flex;
    flex-direction: column;
    /* margin-left: 50px; */
    padding: 20px;
   
    
  }
  .login_form{
    display: flex;
    flex-direction: column;
  }
  .email{
    width: 100%px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20px;
    background-color:lightgray;
    border: none;
  }
  .password{
    width: 100%;
    background-color:lightgray;
    border: none;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .login-part{
    display: flex;
    gap: 150px;
  }
  .login-with{
    text-align: center;
  }
  .image{
    height: 100%;
    width: 550px;
  }
  .rememberme{
    display: flex;
    justify-content:space-between ;
  }
  .facebook{
    text-align: center;
    color: #fc2294;
  }
  .login-button{
    width: 200px;
    padding: 10px;
    background-color: #fc2294;
    border: none;
    border-radius: 5px;
  }
  .createaccount-button{
    width: 200px;
    padding: 10px;
    color: #fc2294;
    border: 1px solid #fc2294;
    border-radius: 5px;
   
  }
  .check_box{
    
    border: 1px solid #fc2294;
  }